@fontcolor: #707070;
@menuback: #1F335C;
@menubackactive: #0F1324;
@blue: #409EFF;
@linkcolor: #3188C9;
@linkcoloractive: #005999;
@appheaderback: #fff;

.flex(@item,@iswrap,@justify,@align){
  display: flex;
  flex-flow: @item @iswrap;
  justify-content: @justify;
  align-items: @align;
}
.flex(@justify,@align){
  display: flex;
  flex-flow: row nowrap;
  justify-content: @justify;
  align-items: @align;
}
.flex-start-start{
  .flex(flex-start, flex-start);
}
.flex-start-center{
  .flex(flex-start, center);
}
.flex-wrap-center{
  .flex(row, wrap, flex-start, center);
}
.flex-center-center{
  .flex(center, center);
}
.flex-between-center{
  .flex(space-between, center);
}
.flex-around-center{
  .flex(space-around, center);
}
.flex-end-center{
  .flex(flex-end, center);
}

.app-container {
  padding: 50px 10px;
}

.link {
  color: @linkcolor!important;
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.link:hover {
  color: @linkcoloractive!important;
}

